.instagram-link {
    position: relative;
    z-index: 1;
}

.instagram-link::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    background-image: url('Bilder/Instagram_Logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: -1;
        pointer-events: none;
    }

.github-link {
    position: relative;
    z-index: 1;
}

    .github-link::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 64px;
        height: 64px;
        transform: translate(-50%, -50%);
    background-image: url('Bilder/GitHub_Logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: -1;
        pointer-events: none;
    }

    .github-link:hover::after {
        opacity: 1;
    }

    .steam-link {
        position: relative;
        z-index: 1;
    }

    .steam-link::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 78px;
        height: 78px;
        transform: translate(-50%, -50%);
    background-image: url('Bilder/Steam_Logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: -1;
        pointer-events: none;
    }

    .steam-link:hover::after {
        opacity: 1;
    }

.instagram-link:hover::after {
    opacity: 1;
}

body {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        to bottom,
        #ffb3b3,
        #ffe6e6
    );
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff6666;
    color: white;
    height: 100px; 
}

header a {
    margin-right: 64px;
    color : white;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

header a:hover {
    font-size: 1.3em;
    transition: font-size 0.2s;
}